/*#########################################################################
#                                   全局                                  #
#########################################################################*/


* {
    outline:none !important;
    -moz-outline: none !important;
    //font-family: "微软雅黑", "文泉驿微米黑", arial, "\5b8b\4f53", sans-serif;
    font-family: georgia, serif;
}


body {
    overflow-x: hidden;
    margin-top: -9px;
    font-size: 18px;
}


blockquote p {
    font-size: inherit;
}
